body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}


main {
    padding: 40px;
}


.users {
    background: white;
    padding: 30px;
    border-radius: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


th {
    background-color: #003366;
    color: white;
}


th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}


tr:hover {
    background-color: #f1f1f1;
}


button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.add-user {
    background-color: green;
    color: white;
    margin-bottom: 15px;
}


button:hover {
    opacity: 0.8;
}